

body
{
    font-family: Arial, Helvetica, sans-serif;
    background-color:  #f1ecea;
    text-align: justify;
    width: 900px;
    height: 1000px;
}

header
{
    background-color: #3a251c ;
}

#Cabecera
{
    padding: 15%;
}

nav
{
    background-color: #b46424 ;
}

#BarraNav
{
    padding: 5%;
}

section
{
    background-color: #362f2f;
}

#Seccion
{
    padding: 64%;
}

aside
{
    background-color:  #b58c7c ;
}

#Asize
{
    padding: 35%;
}

footer
{
    background-color: #3a251c;
}

#Pie
{
    padding: 10%;
}

.Encabezado
{
    font-family: Arial, Helvetica, sans-serif;
}

.BarraNavC
{
    display: inline;
    justify-content: center;
    padding: 10px;
}

.Texto
{

}